extends ../_templateindex

block variables
  - var title = 'В коттеджах'

block content
  .wrapper
    header.header
      .container
        .header__row
          a(href="./index.html").header__logo
            img(src='./assets/img/logo3.jpg').header__logo-img
          nav.header__list.js-menu
            a(href="#").header__item Прайс
            a(href="#").header__item.js-modal-open Вызов мастера
          .header__contacts
            a(href="tel:89266308361").header__contacts-item
              svg.header__contacts-icon
                use(xlink:href="./assets/img/sprite.svg#phone")
                .header__contacts-text 8 (926) 630 83 61
            a(href="mailto:elektrik24.7@mail.ru").header__contacts-item
              svg.header__contacts-icon
                use(xlink:href="./assets/img/sprite.svg#email")
              .header__contacts-text elektrik24.7@mail.ru
          svg.mobile-menu.js-burger
            use(xlink:href="./assets/img/sprite.svg#menu")
    main.main.page.page_cottage
      .container
        .blocks
          h1.section__title Электромонтаж в коттеджах
          h2.section__subtitle Электрификация частного дома в Москве и Московской области
          .section__text
            p Сегодня множество семей приходят к необходимости жить не в тесной городской квартире, а в комфортабельном загородном доме или коттедже. Экологическая чистота, близость к природе привлекает все больше людей. Строительные компании ведут массу проектов индивидуального жилья в Москве и области.
            p Большинство возводимых коттеджных поселков уже электрифицированы, дана необходимая мощность, выполнена подводка к дому кобелем или СИПом, однако внутренняя разводка делается крайне редко. Каждый коттедж по своему индивидуален, хозяева воплощают в жизнь свои мечты и желания. Даже типовые дома, построенные по стандартному проекту, сильно отличаются друг от друга. Расположением помещений, гостиных, спален, сан узлов разнообразны. Световые решения подчас координально отличаются
            p Сложные модульные светильники, люстры, дизайнерские бра. В современных интерьерах широкое распространение получило светодиодное освещение. Разнообразные ленты, с блоками управления и контроллерами позволяют получить огромную гамму цветовых оттенков, различных по яркости и насыщенности.
          h2.section__subtitle Наружное освещение дачных домов и коттеджей
          .section__text
            p Отличительным признаком дачного дома или загородного коттеджа является наружное декоративное или техническое освещение. В отличие от города, где все вокруг Вашей квартиры является общей собственностью и нет особого смысла сто либо придумывать, за городом все по другому. Выходя вечером на улицу, вдохнув свежего воздуха, хочется видеть не темные силуэты но фоне звездного неба, а приятно подсвеченные дорожки, деревья, горки, водоемы. О доме тоже не стоит забывать.
            p Правильно подсвеченный коттедж смотрится великолепно, светом можно выделить различные архитектурные формы, арки, венцы, пилоны, фронтоны и многое другое.
            p Главное, подсветку должны делать специалисты, тогда ваша загородный дом будет радовать глаз и выгодно отличатся от соседе. Технически выполнение наружного освещения является непростой задачей. Зима, весна, лето, осень, температура могут быть от -40, до +40 градусов. При таких сезонных перепадах должно использоваться высококачественное оборудование, кабели укладываться ниже глубины промерзания, все соединения скрыты от непогоды и качественно заизолированы.
          h2.section__subtitle Внутренняя электропроводка коттеджа
          .section__text
            p В загородном доме или коттедже, проводя электромонтажные работы, специалисты компании "ЭлектрикаВам" рекомендуют выполнять скрытую электропроводку. Некоторые заказчики задают вопрос, «если проводка скрытая, как ее заменить».
            p Попробуем оспорить этот тезис. Пожалуй, единственный преимущество открытой проводки, быстрая возможность замены, других плюсов я не вижу. Если проводка выполнена с соблюдением норм и правил, существующих в строительстве, менять ее не понадобится по определению. Правильно рассчитанное сечение кабеля, распределение групповых линий, грамотно выполненная система защиты и автоматики, залог долгой и качественной работы электрооборудования.
            p Скрытая электропроводка имеет значительно больше преимуществ. Во первых безопасность, если провода спрятаны в стены до них нет свободного доступа, кабели не смогут повредить домашние животные.
            p Маленькие дети так же не смогут добраться до скрытой проводки. Второй огромный плюс конечно эстетика, нигде ничего не висит и не болтается, розетки и выключатели находятся в одной плоскости со стеной, распределительные коробки закрыты аккуратными крышками, выводы проводов закрыты основанием светильников.
            p Конечно, окончательный выбор за Вами, я склоняюсь к скрытой электропроводке, тем более сто цена на работу с материалами не сильно отличаются. Доверяйте электромонтаж в загородном доме профессионалам.


    footer.footer
      .container
        .footer__row
          .footer__col
            .footer__col-title Контакты
            ul.footer__list
              li.footer__item Москва, Московская область
              li.footer__item #[a(href='tel:+79266308361') +7 (926) 630 83 61]
              li.footer__item #[a(href='mailto:elektrik24.7@mail.ru') elektrik24.7@mail.ru]
      .footer__block
        .intro__title ELEKTRIKA #[span VAM]