extends ../_templateindex

block variables
  - var title = 'Главная'
block content
  .wrapper
    header.header
      .container
        .header__row
          a(href="./index.html").header__logo
            img(src='./assets/img/logo3.jpg').header__logo-img
          nav.header__list.js-menu
            a(href="./price.html").header__item Прайс
            a(href="#anchor1").header__item.anchor1 Наши работы
            a(href="#").header__item.js-modal-open Вызов мастера
          .header__contacts
            a(href="tel:89266308361").header__contacts-item
              svg.header__contacts-icon
                use(xlink:href="./assets/img/sprite.svg#phone")
                .header__contacts-text 8 (926) 630 83 61
            a(href="mailto:elektrik24.7@mail.ru").header__contacts-item
              svg.header__contacts-icon
                use(xlink:href="./assets/img/sprite.svg#email")
              .header__contacts-text elektrik24.7@mail.ru
          svg.mobile-menu.js-burger
            use(xlink:href="./assets/img/sprite.svg#menu")
    main.main
      section.section.intro
        .intro__bg
          img(src='./assets/img/bg1.jpg').intro__bg-pic
        img(src='./assets/img/decor1.jpg').intro__decor
        .container.container_bg
          .intro__content
            h1.intro__title ELEKTRIKA #[span VAM]
            h2.intro__text Электромонтажные работы в Москве и Московской области
            ul.intro__list
              li.intro__item Круглосуточные, срочные вызовы электрика на дом
              li.intro__item Бесплатная консультация
              li.intro__item Расчет полной стоимости работ
              li.intro__item Гарантия на работу
            a(href="#").button.js-modal-open Оставить заявку


      section.section.about
        .container
          .section__content
            h2.section__title О компании
            .section__text Мы предоставляем комплекс электромонтажных работ в Москве и Московской области. Принимаем заказы на работу в квартирах, домах, складах, офисных помещениях и иных объектах. У нас работают опытные, квалифицированные электрики, которые быстро справляются с работами любой сложности. Мы выполняем комплекс услуг, начиная от подключения объекта к линии электропередач (ЛЭП), завершая монтажом розетки и выключателя. Профессиональный подход к работе позволяют сократить время и стоимость обслуживания. На все выполненные работы даем гарантию сроком на 2 года.
            .about__block
              .about__unit
                .about__unit-img
                  img(src='./assets/img/11.png').about__unit-pic
                .about__unit-text Оборудование ведущих мировых производителей
              .about__unit
                .about__unit-img
                  img(src='./assets/img/12.png').about__unit-pic
                .about__unit-text С 2013 года на российском рынке
              .about__unit
                .about__unit-img
                  img(src='./assets/img/13.png').about__unit-pic
                .about__unit-text Профессиональная команда специалистов
              .about__unit
                .about__unit-img
                  img(src='./assets/img/14.png').about__unit-pic
                .about__unit-text Десятки успешно завешенных проектов
              .about__unit
                .about__unit-img
                  img(src='./assets/img/15.png').about__unit-pic
                .about__unit-text Низкие цены


            ol.about__list
              li.about__item
                .about__item-content
                  .about__item-title Бесплатная консультация
                  .about-item-text Абсолютно бесплатная консультация! Мы предоставляем возможность выезда мастера на место для оценки стоимости предстоящей работы.
              li.about__item
                .about__item-content
                  .about__item-title Срочный выезд
                  .about-item-text Мы работаем круглосуточно и выезжаем на срочные выезды без промедления.
            li.about__item
              .about__item-content
                .about__item-title Гарантия на проделанную работу
                .about-item-text Мы предоставляем гарантию на все проделанные работы 2 года!
            li.about__item
              .about__item-content
                .about__item-title Выезд мастера в день заказа
                .about-item-text Инженер электрик приедет на объект в согласованное время, внимательно выслушает, даст необходимые рекомендации
            li.about__item
              .about__item-content
                .about__item-title Бесплатная смета за 15 минут
                .about-item-text После согласования количества электрооборудования укрупненная смета составляется бесплатно за 15 минут
            li.about__item
              .about__item-content
                .about__item-title Минимальные сроки выполнения
                .about-item-text В жилой квартире скорость выполнения зависит от количества мебели, в среднем, один день – одно помещение
            li.about__item
              .about__item-content
                .about__item-title Оплата по окончании работ
                .about-item-text Окончательная оплата только после проверки работоспособности и сдачи заказчику

      section.works.js-section#anchor1
        .fixed.js-fixed
          .container
            h2.section__title.js-title
              span Наши работы
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Монтаж освещения
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/5.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Монтаж подрозетников
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/2.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Монтаж гофры
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/3.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Сборка щитов
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/4.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Монтаж розеток
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/1.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Штроба в бетоне
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/6.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Прокладка гофры пнд
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/7.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Монтаж ретро-выключателей
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/8.jpg' alt='')
            .fixed__block.js-fixed-row
              .fixed__row
                .fixed__content
                  .fixed__title Установка щитов
                .fixed__img
                  img.fixed__img-pic(src='./assets/img/works/9.jpg' alt='')
        a(href="./gallery.html").button Посмотреть все

      section.section.types
        .container
          .section__content
            h2.section__title Мы предлагаем любые виды электромонтажных работ любой сложности
            .types__list
              a(href="./apartment.html").types__item
                .types__item-img
                  img(src='./assets/img/img1.jpg').types__item-pic
                .types__item-text В квартирах
                .types__item-button Подробнее...
              a(href="./building.html").types__item
                .types__item-img
                  img(src='./assets/img/img2.jpg').types__item-pic
                .types__item-text В новостройках
                .types__item-button Подробнее...
              a(href="./cottage.html").types__item
                .types__item-img
                  img(src='./assets/img/img3.jpg').types__item-pic
                .types__item-text В деревянных домах и коттеджах. Ретро проводка
                .types__item-button Подробнее...
              a(href="./organization.html").types__item
                .types__item-img
                  img(src='./assets/img/img4.jpg').types__item-pic
                .types__item-text В бюджетных организациях
                .types__item-button Подробнее...
              a(href="./chipping.html").types__item
                .types__item-img
                  img(src='./assets/img/img5.jpg').types__item-pic
                .types__item-text Штробление
                .types__item-button Подробнее...
              a(href="./wiring.html").types__item
                .types__item-img
                  img(src='./assets/img/img6.jpg').types__item-pic
                .types__item-text Прокладка и замена проводки
                .types__item-button Подробнее...



            .types__info
              svg.types__info-icon
                use(xlink:href="./assets/img/sprite.svg#info")
              .types__info-text Важно! В связи с пандемической ситуацией все наши сотрудники работают только в средствах индивидуальной защиты и используют дезинфицирующие средства!


      //section.section.works.js-section
      //  .fixed.js-fixed
      //    .container
      //      h2.section__title.js-title
      //        span Наши работы
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='0')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle
      //                | &Ucy;&ncy;&icy;&chcy;&tcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; &dcy;&ocy; 99% &mcy;&icy;&kcy;&rcy;&ocy;&ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&mcy;&ocy;&vcy; &vcy; &vcy;&ocy;&zcy;&dcy;&ucy;&khcy;&iecy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='assets/img/types/1.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='1')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle &Acy;&bcy;&scy;&ocy;&lcy;&yucy;&tcy;&ncy;&acy;&yacy; &bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&ocy;&scy;&tcy;&softcy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/42.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='2')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle &Ncy;&acy;&ucy;&chcy;&ncy;&ocy; &dcy;&ocy;&kcy;&acy;&zcy;&acy;&ncy;&ncy;&acy;&yacy; &ecy;&fcy;&fcy;&iecy;&kcy;&tcy;&icy;&vcy;&ncy;&ocy;&scy;&tcy;&softcy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/43.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='3')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle &Gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&yacy; 1 &gcy;&ocy;&dcy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/44.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='4')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle 10-&lcy;&iecy;&tcy;&ncy;&icy;&jcy; &ocy;&pcy;&ycy;&tcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&acy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/45.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='5')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle &Bcy;&ocy;&lcy;&iecy;&iecy; 40 &scy;&iecy;&rcy;&vcy;&icy;&scy;&ncy;&ycy;&khcy; &tscy;&iecy;&ncy;&tcy;&rcy;&ocy;&vcy; &pcy;&ocy; &vcy;&scy;&iecy;&jcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/46.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='6')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle
      //                | &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&iecy; &ucy;&dcy;&ocy;&scy;&tcy;&ocy;&vcy;&iecy;&rcy;&iecy;&ncy;&icy;&iecy; &ocy;&tcy; &Rcy;&ocy;&scy;&zcy;&dcy;&rcy;&acy;&vcy;&ncy;&acy;&dcy;&zcy;&ocy;&rcy;&acy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/47.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='7')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle &Dcy;&lcy;&yacy; &pcy;&ocy;&mcy;&iecy;&shchcy;&iecy;&ncy;&icy;&jcy; &lcy;&yucy;&bcy;&ocy;&gcy;&ocy; &ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&icy;&yacy; &icy; &pcy;&lcy;&ocy;&shchcy;&acy;&dcy;&icy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/48.jpg' alt='')
      //      .fixed__row-wrap.js-fixed-row
      //        .fixed__row.js-fixed-card(data-tab='8')
      //          .fixed__content
      //            .fixed__content-wrap
      //              .fixed__subtitle &Scy;&ocy;&bcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&iecy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &vcy; &Rcy;&Fcy;
      //          .fixed__img
      //            .fixed__img-warp
      //              img.fixed__img-pic(src='/images/promo/recbusiness/49.jpg' alt='')
    footer.footer
      .container
        .footer__row
          .footer__col
            .footer__col-title Контакты
            ul.footer__list
              li.footer__item Москва, Московская область
              li.footer__item #[a(href='tel:+79266308361') +7 (926) 630 83 61]
              li.footer__item #[a(href='mailto:elektrik24.7@mail.ru') elektrik24.7@mail.ru]
      .footer__block
        .intro__title ELEKTRIKA #[span VAM]