extends ../_templateindex

block variables
  - var title = 'Прокладка и замена проводки'

block content
  .wrapper
    header.header
      .container
        .header__row
          a(href="./index.html").header__logo
            img(src='./assets/img/logo3.jpg').header__logo-img
          nav.header__list.js-menu
            //a(href="#").header__item О компании
            //a(href="#").header__item Контакты
            a(href="./price.html").header__item Прайс
            a(href="#").header__item.js-modal-open Вызов мастера
          .header__contacts
            a(href="tel:89266308361").header__contacts-item
              svg.header__contacts-icon
                use(xlink:href="./assets/img/sprite.svg#phone")
                .header__contacts-text 8 (926) 630 83 61
            a(href="mailto:elektrik24.7@mail.ru").header__contacts-item
              svg.header__contacts-icon
                use(xlink:href="./assets/img/sprite.svg#email")
              .header__contacts-text elektrik24.7@mail.ru
          svg.mobile-menu.js-burger
            use(xlink:href="./assets/img/sprite.svg#menu")
    main.main.page.page_wiring
      .container
        .blocks
          h1.section__title Прокладка и замена проводки:
          .section__text
            p Прокладка и замена проводки производится следующим образом:
            p В пропиленных штробах прокладываем провод ВВГНГЛС либо NUM , в гофре ПВХ, ПНД.
            p Сечение кабеля зависит от потребителей.
            p Если это розеточная группа, то кабель прокидывается 3Х2,5см, если группа освещения то 3х1,5см.
            p На варочную панель кабель прокидывается 3Х6 мм либо 5х4 мм ( при условии 380 V).
            p В старых домах, в которых проложена алюминиевая проводка, её рекомендуется заменить на новую медную. Так как она не выдерживает нагрузки и может привести к выходу из строя либо пожару).

    footer.footer
      .container
        .footer__row
          .footer__col
            .footer__col-title Контакты
            ul.footer__list
              li.footer__item Москва, Московская область
              li.footer__item #[a(href='tel:+79266308361') +7 (926) 630 83 61]
              li.footer__item #[a(href='mailto:elektrik24.7@mail.ru') elektrik24.7@mail.ru]
      .footer__block
        .intro__title ELEKTRIKA #[span VAM]